@import url(
"https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" );     

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body{
    background-color: #feffe2 !important;
}
a:hover{
    color: #ee6907 !important;

}  

.btn:hover{
    box-shadow: 0px 10px 10px   #040212;
  }

.myForm{
    border: #040212 3px solid ;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
  }
  .myFormIniciarSesion{

    border: #040212 3px solid ;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
  }
  .card{
        border: #040212 3px solid ;
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 10px;
  }
  .form-control{
    margin-top: 15px;
    margin-left: 15px;
    width: 250px;
    
  }
hr{
  size: "10";
}